In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [8]:
import math
test_score_median = df['test_score(out of 10)'].median()
test_score_median

8.0

In [11]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(test_score_median)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [28]:
#df['experience'] = df.experience.fillna('NA')
df.experience

0    NA
1    NA
2    NA
3    NA
4    NA
5    NA
6    NA
7    NA
Name: experience, dtype: object

In [22]:
x = df.drop('salary($)', axis='columns')
y = df['salary($)']
#train the model
model = linear_model.LinearRegression()
model.fit(x,y)

ValueError: could not convert string to float: 'NA'